<md-toolbar layout="row" class="md-hue-3">
	<div class="md-toolbar-tools">
		<span>About</span>
	</div>
</md-toolbar>
<md-content layout-padding>
	<p>
		Welcome to the ThursBball app.  We play every Thursday night from 10pm until 12am in a college regulation gym located in South El Monte.
	</p>
	<p>	
		The maximum number of players per evening is 16, or 8 per team.  This simple app was created to manage the roster of players for each night.  
	</p>
	<p>
		Thanks for signing up and hope to see you on our next ThursBball night.
	</p>
	<p>
		- Ed
	</p>
</md-content>