<md-toolbar layout="row" class="md-hue-3">
	<div class="md-toolbar-tools">
		<span>FAQ</span>
	</div>
</md-toolbar>

<md-content layout-padding>
	<md-list>
		<md-list-item class="md-3-line">
			<div class="md-list-item-text">
				<h3>Where is Thursday basketball?</h3>
				<p>
					The gym is located at 1827 Floradale Ave, South El Monte, CA.
				</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>	
		

		<md-list-item class="md-3-line">	
			<div class="md-list-item-text">
				<h3>How is the gym time structured?</h3>
				<p>
					We try to divide into 2 evenly matched teams and play 2 games of 40 minutes.  We take a 2-3 minute break between halves and games.  If there are more than 5 players per team, we employ mandatory substitution every 5 minutes using our sub-rotation sheet.  Warm up is from 10-10:15pm, and first game starts around 10:20pm.
				</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>	
		

		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>Why max number of players each night?</h3>
				<p>
					There is a cap of 16 players each night due to our limitation of 1 court and 2 hours timeframe.  We have mandatory sub-rotation to make sure that every player has equal minutes playing in the game every time.
				</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>

		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>How does waitlist work?</h3>
				<p>
					If there is already 16 for the night, that night is full.  You will need to add yourself to the waitlist in this app so that the system can automatically add you to the roster if someone drops out.  This app will handle that for you so that you don't need to keep checking.  Adding waitlist to the roster is based on priority, or whoever signed up to the waitlist first.
				</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>

		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>Is Thursday basketball open to anybody?</h3>
				<p>
					Right now it's a closed, by invite only.
				</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>

		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>Can I bring guests to play and will they have to pay?</h3>
				<p>
					If there is space available, or less than 16 for that night, you can bring guests to play.  However, priority are for those who have prepaid and/or registered.   
				</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>

		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>Will I be notified if I was moved from the waitlist to the roster?</h3>
				<p>
					At this time, you will receive an email confirmation on the day of the game that you are in the roster.  Automatic SMS/TEXT message feature to alert you instantly is being added very soon.
				</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>

		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
				<h3>What are the gym fees and who/how do I pay?</h3>
				<p>
					The cost is $10/per night.  You can pay each time you come to the gym.  However, if you sign up for more than 8 out of 12 nights, please pay in full.  Payment forms can be by cash, check, or paypal.
				</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>
	</md-list>
</md-content>