<md-toolbar layout="row" class="md-hue-3">
	<div class="md-toolbar-tools">
		<span>Important!  Please read.</span>
	</div>
</md-toolbar>

<md-content>
	<md-card>	
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Core Values</span>
			</md-card-title-text>
		</md-card-title>

		<md-card-content>
			<p>
				The goal of ThursBball is to have a positive environment that encourages fitness, healthy competition, and fellowship.
				<br />
				<br/>
				We value playing as a team and playing unselfishly, making sure that everyone on the court is involved no matter what the skill level is.
				<br />
				<br />
				We want you to have fun playing basketball, have a great workout win or lose, and not get hurt in the process!
			</p>
		</md-card-content>
	</md-card>
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Player Conduct</span>
			</md-card-title-text>
		</md-card-title>
		
		<md-card-content>
			<p>By coming to play you are agreeing to the following:</p> 
			<ul>
				<li>Will behave in a responsible and sportsmanlike manner on and off the court.</li>
				<li>No hard fouls or extreme physical play that could potentially hurt or injure other players.</li>
				<li>No foul language, profanity, or taunting of other players.</li>
			</ul>
			<p>
				<em>Failure or repeat violations of the above may result in being uninvited to future Thursday basketball nights.</em>
			</p>
		</md-card-content>
	</md-card>
</md-content>